.layout{
    width: 96%;
    margin: 0px 1%;
    border: solid 1px black;
    padding: 1%;
    background-color: whitesmoke;
}
.link_layout{
    height: 50px;
    width: 98%;
    border-bottom: solid 3px black;
    padding: 1%;
    margin-bottom: 2%;
}
.link{
    font-size: 30px;
    font-weight: bold;
    width: 30%;
    float: left;
    text-align: center;
}
.link:hover{
    font-size: 31px;
}
a {
    text-decoration: none;
}
.inst_layout{
    padding: 3% 5%;
    height: 300px;
}
.my_image{
    padding: 2% 8%;
    width: 30%;
    float: left;
}
.my_inst{
    padding: 2% 8%;
    font-size: 23px;
    float: left;
}
.images{
    box-shadow: 5px 5px 5px gray;
}