.layout{
    width: 96%;
    margin: 0px 1%;
    border: solid 1px black;
    padding: 1%;
    background-color: whitesmoke;
}
.link_layout{
    height: 50px;
    width: 98%;
    border-bottom: solid 3px black;
    padding: 1%;
    margin-bottom: 2%;
}
.link{
    font-size: 30px;
    font-weight: bold;
    width: 30%;
    float: left;
    text-align: center;
}
.link:hover{
    font-size: 31px;
}
a {
    text-decoration: none;
}
.study_title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0% 30%;
}
.study_table{
    font-size: 18px;
    margin: 1% auto;
}
td{
    width: 100px;
}
td > a{
    color: black;
}
td > a:hover {
    font-size: 20px;
    color:blue
}