.layout{
    width: 96%;
    margin: 0px 1%;
    border: solid 1px black;
    padding: 1%;
    background-color: whitesmoke;
}
.link_layout{
    height: 50px;
    width: 98%;
    border-bottom: solid 3px black;
    padding: 1%;
    margin-bottom: 2%;
}
.link{
    font-size: 30px;
    font-weight: bold;
    width: 30%;
    float: left;
    text-align: center;
}
.link:hover{
    font-size: 31px;
}
a {
    text-decoration: none;
}
.table_layout{
    margin: 2% 0%;
}
.table_title{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    margin: 2% 0%;
}
.table{
    width: 750px;
    margin: auto;
}
.blank{
    background-color: darkgray;
}
th{
    background-color: aliceblue;
}
.time{
    background-color:aliceblue;
    text-align: center;
}
.algorithm{
    background-color: aquamarine;
    text-align: center;
}
.math{
    background-color:chartreuse;
    text-align: center;
}
.proj1{
    background-color: coral;
    text-align: center;
}
.dsp{
    background-color: cornflowerblue;
    text-align: center;
}
.soft{
    background-color:goldenrod;
    text-align: center;
}
.proj2{
    background-color: violet;
    text-align: center;
    font-size: 15px;
}
.com_architect{
    background-color: palevioletred;
    text-align: center;
}